<a href="https://colab.research.google.com/github/vkoul/dsbook/blob/main/book/01Python_Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div class="alert alert-block alert-success">
    
#  üêç Python Data Types
    
 üë®‚Äçüè´ **Vikesh K**      
 üìì **Lab 01**        

</div>

 üí°  <span style='font-family:Georgia'>
    <font color= darkred> ***A journey of a thousand miles begins with a single step- Chinese Proverb***
    </font> üí°

    
## üìùLab Agenda
    
* Variables
    * Python keywords
* Data Types
    * Properties
    * Conversion
* Modules
    * import
    * installation
* Exercises
    
<div/>

## Theory


## Variables store values and keep code organized.

This process of storing something in a variable is often called variable assignment, or simply "assignment" for short. You can assign almost anything to a variable.

In [ ]:
x = 3
x

3

**You can then use the stored values for calculations**

In [ ]:
y = x + 10
y

13

**`print()` allows you to see the values of the variables**

In [ ]:
pue = 45
print(pue)

45

**In case of multiple code line in `jupyter` if you don't use the `print()` command, only the last code line will be shown in the output**

In [ ]:
x = 3
y = 'Hello'

# show output
x
y

'Hello'

In [ ]:
print(x)
print(y)

3
Hello

In [ ]:
x = 4
y = 5

# show output
print(x)
print(y)

4
5

**`type()` tells you the data type of the variable**

In [ ]:
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

**The breadth of a rectangle is 10 and length is 11. What is the area and the perimeter of the rectangle?**

Calculate the area and perimeter and then take the breadth as 13 and length as 15 and recalculate the values. Calculate this in the normal manner and using proper variables

**Normal way to calculate**

In [ ]:
area = 13 * 15
print("the area is:", area)

perimeter = 2 * (13 + 15)
print("the perimeter is:", perimeter)

the area is: 195
the perimeter is: 56

**Using variables**

In [ ]:
# define the length and breadth
length = 16
breadth = 19

In [ ]:
area = length * breadth
print("the area is:", area)

perimeter = 2 * (length + breadth)
print("the perimeter is:", perimeter)

the area is: 304
the perimeter is: 70

In [ ]:
# id(length)

2090603080464

## Variable Summary

* Used to store information to be used in a computer program
* Has three components:
   * kind given by `type()`,
   * value given by `print()`
   * memory address given by `id()`
* There are rules in variable names:
    * Should start with alphabet or _ (underscore)
    * cannot start with a number
    * cannot have a space
    * can be alpha-numeric
    * should avoid `keywords` while naming
    
    
<div/>

![keywords.PNG](images/keywords.PNG)

## Python has got 4 major datatypes

**`int` is for whole numbers**: `1, 2, 4`

In [ ]:
# store the value
x = 2

# check the data type
print(type(x))

<class 'int'>

**`float` is for numbers with decimals:** `1.2`, `3.14`

In [ ]:
# store the value
y = 2.0

# check the data type
print(type(y))

<class 'float'>

**`string` is used for text:** `hello`, `my name`

In [ ]:
a = "Learning Python is fun"

print(a)
print(type(a))

Learning Python is fun
<class 'str'>

**`string` can be saved using single quote or double quotes**

In [ ]:
p = 'Japan'

q = "Japan"

z = 'japan'

print(p)
print(q)

Japan
Japan

In [ ]:
# are both are equal?
p == q

True

**`case` matters in Python**`

In [ ]:
# are both are equal?
p == z

False

**`bool` is used for True/ False**

In [ ]:
p = True
q = False

# check the data type
print(type(p))
print(type(q))

<class 'bool'>
<class 'bool'>

**You can convert one datatype into another**

* The conversion can be done using `int()`, `float()`, `bool()`, `str()`
* There will be some exceptions, like a string can't be converted to a number, however a number can be

In [ ]:
x = 2

print(x)
print(type(x))

2
<class 'int'>

In [ ]:
float(x)

2.0

In [ ]:
h = '45'
print(h)
print(type(h))

45
<class 'str'>

**Check the type with `int()` function**

In [ ]:
print(int(h))
print(type(int(h)))

45
<class 'int'>

In [ ]:
print(float(h))
print(type(float(h)))

45.0
<class 'float'>

In [ ]:
type(x)

**Change the type to `float`**

In [ ]:
x = float(x)

In [ ]:
type(x)

float

In [ ]:
y = 5
print(y)
print(type(y))

5
<class 'int'>

In [ ]:
x = '5'
print(type(x))

<class 'str'>

**`int`  to `float` conversion**

In [ ]:
x = float(x)
print(x)
print(type(x))

**`float`  to `int` conversion**

In [ ]:
y = 2.9
print(y)
print(type(y))

```{warning}
Be careful on changing a `float` to an `int`. Numbers after decimal point will be dropped
```

In [ ]:
y = int(y)

print(y)
print(type(y))

In [ ]:
y = 3.5

y = int(y)

In [ ]:
print(y)

3

**`float`  to `bool` conversion**

* 0 always converts to False
* Any value other than 0 is True, whether positive or negative

In [ ]:
y = -2.3
print(y)
print(type(y))

In [ ]:
bool(y)

In [ ]:
z = 0
print(z)
print(type(z))

In [ ]:
z = bool(z)

print(z)
print(type(z))

**Bool to Int**

In [ ]:
int(True)

In [ ]:
int(False)


## Data Type Summary
    

![python_data_summary](images/python_data_summary.png)

Source: Jovian ML
    
    
| **Data type** | **Example**        |
|-------------- |--------------------|
|     `float`   |     3.14           |
|     `int`     |     3              |
|     `string`  |     'john'         |
|     `bool`    |     True, False    |
    
    
* Every data-type has a specific property in Python and are used to represent different kinds of data
* One can check for the data type of an item using `type(item)`
* One can convert one data type into another using : `int()`, `str()`, `float()` and `bool()`

## Packages in Python

```{note}
**In Python, whenever you want to run/launch a package, you need to `import` it.**

In the smart phone analogy, this is equal to tapping on an app to start it. You would have pre-installed apps and apps that you need to install.
Remember, like in a phone's pre-installed apps, `os` is one of the pre-installed apps.**

**You won't get any message if a package is imported successfully. Only if you do a wrong loading, error message will be shown**
```

**While importing you can also use alias, by the command as, this is often done. It helps to make the code crisp**

In [ ]:
import os

In [ ]:
# import the module
import os
print("The code ran")

The code ran

**You will see an error message if you load something wrongly. Example: loading a non-existing package**

In [ ]:
import os
print("The code ran")

The code ran

```{note}

**Installing a new package**

We can install a new package using `pip`. The most easiest way is to install a package within the Jupyter notebook.

The syntax is `!pip install packagename`

```

**Installing `plotly` package**

Let's install a package and understand the process. Run the cell below

**The below code will generate some text detailing the installation.If you get an error, please google for the answer. If you can't figure it out, send me a note**

In [ ]:
# !pip install plotly

**To check if the installation happened properly, running the below code should not give any error**

In [ ]:
# loading the package
import plotly
print("All ran properly")

All ran properly

**Checking the installed version of a package**

The syntax to check a version of the installed packages. `packagename.__version__`

In [ ]:
# checking the version of pandas
import pandas as pd
print(pd.__version__)

2.2.0

In [ ]:
# checking the version of numpy
import numpy as np
print(np.__version__)

1.23.5

In [ ]:
print(plotly.__version__)

5.9.0

### The `os` package in python helps us interact with the os system

**What is my current working directory (folder) - `cwd`?**

In [ ]:
import os

In [ ]:
os.getcwd() # get me the Current Working Directory (Folder)

'C:\\Users\\vkoul\\Desktop\\DA_Training_book\\pythonbook'

**Can we see the files in the directory?**

In [ ]:
# os.listdir() # list directory

## ‚ùìExercises

**Some of the exercises below are strech exercises, you may need to rely on Google to answer them. This should be a good experience of figuring out things on your own**

### Data Types

**Q1** What is the type of the following: `2.0`

In [ ]:
# your code here

**Q2**  What is the result of the following code segment: `type(int(13.6))`

In [ ]:
# your code here

**Q3** What is the result of the following code segment: `int(4.99)`

In [ ]:
# your code here

**Q4** What is the result of the following code segment: `int(False)`

In [ ]:
# your code here

**Q5** What is the result of the following code segment: `1/3` ? What data type it is?

In [ ]:
# your code here

**Q6** What is the data type of the *`'3'``*

In [ ]:
# your code here

### Variables

**Q1** What is the value of `x` after the following lines of code?  
       `x = 2`  
       `x = x + 2`

In [ ]:
# your code here

**Q2** What would be the value of `y` in the following operation `y = 2 + 5*4`

In [ ]:
# your code here

 **Q3** What is the type of the variable x after the following: `x = 2/2` ?

In [ ]:
# your code here

### Strings

**Q1** Is `"China"` and `"china"` same for python?

In [ ]:
x = "China"
y = "china"

In [ ]:
x == y

**Q2** Is `"japan"` and `'japan'` same for python?

In [ ]:
# your code here

**Q3** How would you determine the length of the string: `"japan"`

In [ ]:
# your code here

**Q4** What is the result of the following operation: `'2'+'3'` ?

In [ ]:
# your code here

**Q5** What is the result of the following : `str(2) + str(2)` ?

In [ ]:
# your code here

**Q6** If you executed `name = 'Buzz'`, what would be the output of `print(name[0:2])`?

In [ ]:
# your code here

**Q7** If you executed `var = '01234567'`, what would be the result of `print(var[::2])`?

In [ ]:
# your code here

**Q8** What is the result of the following: `'hello'.upper()` ?

In [ ]:
# your code here

**Q9** What is the result of the following: `"123".replace("12", "pqr")` ?

In [ ]:
# your code here

**Q10** What is the result of `"netherlands".find("land")`?

In [ ]:
# your code here

**Q10** How to reverse a string? `x = "London"`

In [ ]:
# your code here

## üß†Points to remember

* The counting in Python starts from 0.
* We can check for a data-type using the `type()` function.
* Python can also do reverse count, it starts from -1.

    
* One can convert a data type into another using different functions `int()`, `str()`, `float()`
* `float` is for the decimal numbers

    
* You can do different operations on strings- `.upper()`, `.replace()`, `.find()`
* We can slice a string using `[start:stop:steps]` operation
    * Remember the `stop` is not inclusive
* Also, you can find the reverse of a string using `string[::-1]`
    
<div/>

   
## üìö Resources

* Read about the different functions in `os` module [here](https://docs.python.org/3/library/os.html)
* Tutorial on how to use `os` module [here](https://www.tutorialsteacher.com/python/os-module)
* [Jupyter Notebook Markdown](https://medium.com/game-of-data/12-things-to-know-about-jupyter-notebook-markdown-3f6cef811707)